<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel='stylesheet' href='../stylesheets/hjem.css'>
</head>
<body>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v19.0" nonce="I1Dgwmjm"></script>
        <%- include('./partials/navbar.ejs') %> 
    <div class="container-l mx-5" id="hjemtop">
        <div class="row">
            <div class="col-4">
                <image class="w-100 rounded-circle" src="./images/miehjem.jpeg" alt="Miehjem"></image>
            </div>         
            <div class="col-8" id="hjemtekst1">
                <h3 class="">Hund som terapi</h3>
                <p class="mt-5">Bergen terapihund driver med dyreassistert terapi, et relativt nytt behandlingsalternativ som øker i både omfang og anerkjennelse i Norge. Hundene våre er utdannet til å gå inn i og mestre ulike situasjoner med ulike mennesker. Bergen terapihund har blant annet hjulpet til på sykehjem, barneskoler, fritidsklubber og under konfirmasjonsforberedelser. Vi er klare for nye oppdrag, så ikke nøl med å kontakte oss hvis du lurer på noe.</p>
                <a href="/kontakt"><button class="btn btn-lg btn-outline-info mt-5" id="kontaktbutton">Kontakt Bergen Terapihund</button><br></a>
                <div class="fb-page mt-5" data-href="https://www.facebook.com/bergenterapihund" data-width="360" data-height="180" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bergenterapihund" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bergenterapihund">Bergen terapihund</a></blockquote></div>
                <p class="mt-5">Bergen terapihund er Karen Valeur Flaten og hunden Mie. Karen er utdannet barnehagelærer, mens hunden er utdannet ved Norske terapihundeskolen. Karen underviser også i emnet "Dyreassistert terapi" for medisinstudenter på Universitetet i Bergen. De siste årene har også legevitenskapen fattet interesse for våre firbeinte venner, og de har gjort mange spennende funn. Kontakt med hunder senker blodtrykket og pulsen vår og øker oksytocin-nivået, det såkalte velværehormonet, som er med på å redusere stress og angst. Hunden er medisin, menneskets beste venn.</p>
            </div> 
        </div>
    </div>
</body>
</html>