<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel='stylesheet' href='../stylesheets/ipressen.css'>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container-l mx-5" id="ipressen">
        <div class="row w-75">
            <div class="col-12">
                <p>Bergen Terapihund får fra tid til annen oppmerksomhet i pressen.<br>Klikk deg inn på linkene nedenfor, så får du et lite innblikk i hva Bergen Terapihund holder på med.</p>
            </div>   
        </div>
        <div class="row">
            <div class="col-6">
                <a href="https://bstv.no/16657/stressdemper-pa-fire-ben/">
                    <image class="w-50" src="./images/ipressen.1.toby.jpg" alt="BSTV.28.11.2015"></image>
                </a>
            </div>
            <div class="col-6">
                <a href="https://bstv.no/16657/stressdemper-pa-fire-ben/">BSTV - 28 November 2015</a>
                <p>Stressdemper på fire ben</p>
                <p>En terapihund ved navn Toby, og hans hundefører Karen Valeur Flaten, kom på besøk til Studentsenteret fredag.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <iframe class="w-50" width="300" height="188" src="https://www.youtube.com/embed/dC10dIYNOu8" title="terapihund" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="col-6">
                <p>Bymag - 27 November 2015</p>
                <p>Stress ned med Toby</p>
                <p>Hunden Toby er ikke som andre hunder. Han er terapihund og på fredag var han på Universitet i Bergen (UiB) for å hjelpe studenter med å roe ned før eksamen.</p>
            </div>           
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="https://www.bt.no/nyheter/lokalt/i/0E7neo/Video-fra-Bergens-Tidende#!/video/102207/gode-hormoner-roer-ned-eksamensnervene">
                    <image class="w-50" src="./images/ipressen.3.jpeg" alt="BTTV.28.11.2015"></image>
                </a>
            </div>
            <div class="col-6">
                <p>BTTV - 28 November 2015</p>
                <p>"Gode hormoner" roer ned eksamensnervene</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="https://www.ba.no/nyheter/alle-nhh-guttene-vil-ha-mie/s/5-8-86105">
                  <image class="w-50" src="./images/ipressen.4.jpeg" alt="Bergensavise.3.06.2015"></image>  
                </a> 
            </div>
            <div class="col-6">
                <p>Bergensavisen - 3 Juni 2015</p>
                <p>Mandag var Mie den mest omsvermede damen på NHH.</p>        
                <p>Mandag kunne studenter ved NHH få et avbrekk fra eksamensstresset med terapihunden Mie.</p>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6">
                <a href="https://www.bt.no/nyheter/lokalt/i/EJVM2/mie-oeker-livsgleden">
                    <image class="w-50" src="./images/ipressen.5.jpeg" alt="BergensTidende.18.11.2014"></image>
                </a>
            </div>
            <div class="col-6">
                <p>Bergens Tidende - 18 November 2014</p>
                <p>Terapihunden Mie (2) lever opp til tittelen sin. Hun er ren terapi for de eldre ved Ulset sykehjem.</p>
                <p>Hver torsdag klokken 12 kommer hunden Mie på besøk til beboerne på Ulset sykehjem. Ved avdeling Toppegrend og Hordvikgrend kjenner de henne godt nå. Først tar Mie en liten prøvende runde. Så kommer smilene og hender som gjerne vil ruske henne litt i pelsen.</p>
            </div>
        </div>
    </div>
</body>
</html>