<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel='stylesheet' href='../stylesheets/omoss.css'>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="container-l mx-5" id="omossKaren">
        <div class="row">
            <div class="col-8">
                <h3>Om oss</h3>
                <p class="mt-3">Bergen Terapihund er Karen Valeur Flaten og hunden Mie. Hunden er utdannet hos Norske terapihundskolen, og er trent opp til å kunne bistå i terapeutiske situasjoner. De skal støtte, motivere og inspirere, samtidig som de må være egnet, trygge og sosiale. Mie og Toby er robuste hunder, som takler møter med nye mennesker og miljøer. </p>
                <p>Bergen Terapihund ble startet i 2014 og drives av Karen Valeur Flaten. Hun er utdannet barnehagelærer og har lang fartstid som pedagog. Karen har drevet med hund siden 2000. Hun underviser også i faget "Dyreassistert terapi og assistanse" på Universitetet i Bergen, og jobber som instruktør for Norske Terapihundskolen.</p>
            </div>
            <div class="col-4">
                <image class="w-50 rounded-circle" src="./images/omoss.mie+karen.jpg" alt="MieKaren"></image>
            </div>
        </div>
    </div>
    <div class="container-l mx-5 mt-2" id="omossMie">
        <div class="row">
            <div class="col-4">
                <image class="w-75 rounded-pill" src="./images/mie.terapihund2.jpg" alt="Mie"></image>
            </div>
            <div class="col-8">
                <h3>Hundene våre</h3>
                <p><b>Mie</b> er en vakker hund av rasen eurasier, som ble født i 2012. Hun er en trygg, selvsikker og glad hund som liker å trene og jobbe. Mie ble godkjent terapihund høsten 2014. I juni 2016 ble hun godkjent fadderhund og lesehund (R.E.A.D.).</p>
                <p>Som hunder flest har også Mie sin egen personlighet. En gang ble hun kalt bamsehund av et lite barn, og det er ingen dårlig observasjon. Mie er en typisk eurasier; vakker, sta, har egne meninger og mye selvtillit. Hun er lærenem, sosial, er glad i kos og hilser på de fleste.</p>
            </div>
        </div>
    </div>
    <div class="container-l mx-5 mt-4" id="omossSkundi">
        <div class="row">
            <div class="col-8 mt-3">
                <p><b>Skundi</b> under opplæring til terapihund.</p>
            </div>
            <div class="col-4">
                <image class="w-75 rounded-circle" src="./images/skundi.eldrehjem.jpg" alt="Skundi"></image>
            </div>
        </div>
    </div>
</body>
</html>