<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../stylesheets/navbar.css">
    <link rel='stylesheet' href='../stylesheets/terapihund.css'>
</head>
<body>
    <%- include('./partials/navbar.ejs') %> 
    <div class="m-5" id="terapihundentop">
        <h5 class="" id="toptext">Visste du at blikkontakt med hunder øker følelsen av velvære for både hund og menneske? Det utallige hundeeiere har ment i alle år, er nå bekreftet av forskere. Samvær med hunder øker oksytocinnivået i hjernene våre. Vi får det rett og slett bedre ved å være med hunder. Terapihunder er opplærte til å være med ulike mennesker i ulike situasjoner.</h5>  
    </div>
    <div class="container-l mx-5 mt-4" id="terapihunden">
        <div class="row">
            <div class="col-8">
                <h3>Terapihunden</h3>
                <p>Terapihunden brukes som en integrert del av målrettet arbeid innen helse, omsorg og utdanning. Arbeidet skal ha et mål som skal dokumenteres og evalueres. Det stilles større krav til terapihunden og føreren enn til en besøkshund og dens fører.<br>
                Ekvipasjen skal kunne jobbe selvstendig, men også i samarbeid med andre fagpersoner, som for eksempel fysioterapeuter, leger, psykologer og spesialpedagoger.</p>
                <p>Eksempler på arbeidsområder er :</p>
                <ul>
                    <li>Mestring og selvtillit</li>
                    <li>Kroppsbevissthet, motorikk</li>
                    <li>Stress, aggresjon, uro og depresjon</li>
                    <li>Øke trygghetsfølelsen</li>
                    <li>Lindring, fysisk og psykisk</li>
                    <li>Kognitiv trening</li>
                    <li>Konsentrasjon</li>
                    <li>Motivasjon</li>
                    <li>Aktivisering</li>
                    <li>Empati</li>
                    <li>Språk</li>
                    <li>Sosial interaksjon</li>
                </ul>
            </div>
            <div class="col-4">
                <image class="w-75 rounded-3 mt-3" src="./images/mie.sykepleier.jpg" alt="MieSykepleier"></image>
            </div>
        </div>
    </div>
    <div class="container-l mx-5 mt-5" id="skolehunden">
        <div class="row">
            <div class="col-4">
                <image class="w-75 rounded-3" src="./images/mie.studenter.jpg" alt="MieStudenter"></image>
            </div>
            <div class="col-8">
                <h3>Skolehunden</h3>
                <p>Skolehverdagen kan være utfordrende for mange elever, enten de sliter faglig og/eller sosialt. En hund kan i så tilfelle være et positivt tilskudd, enten i rollen som sosialarbeider eller som støtte i undervisningen.<br><br>
                    Hunden kan være motivator, muntrasjonsråd og støttespiller både individuelt og i grupper. Å være nær hunder virker avstressende og angstreduserende. Hundene hjelper til med å ufarliggjøre situasjoner med sin ukritiske tilstedeværelse.<br><br>
                    Ved bruk av skolehund vektlegges utvikling av sosiale ferdigheter som empati, respekt og ansvar. Gjennom lek og aktiviteter med hunden, lærer barna å omgås og behandle hverandre på en god måte.<br>
                    Dette konseptet er til god hjelp for barn som sliter sosialt, og for skoler som ønsker å forbedre det sosiale miljøet.</p>
                <p>Noen barn bruker tid på å knekke lesekoden, og for disse kan høytlesing fremstå som en veldig stressende situasjon. Men å lese for en hund, oppleves som både trygt og morsomt. Hunden verken dømmer eller kritiserer. Hundens nærvær virker beroligende, motiverende og øker lesegleden og ferdighetene.</p>
            </div>
        </div>
    </div> 
    <div class="container-l mx-5 my-5" id="besøkshunden">
        <div class="row">
            <div class="col-8">
                <h3>Besøkshunden</h3>
                <p>Besøkshunden er en slags sosialarbeider som sprer glede og engasjement, som aktiviserer og motiverer.<br> Å få besøk av en hund er sosialt, noe som gir inspirasjon til både samtaler og engasjement. Mange mennesker som lever i isolasjon lar hunden lokke seg med inn i felleskapet. Urolige og deprimerte mennesker kan bli roligere, smerter kan reduseres. Alt dette skyldes at samvær med hunder fører til lavere puls og blodtrykk og frigjøring av velværehormonet oksytocin.</p>
                <p>Det er besøkene i seg selv som er viktige, det vil si at de ikke trenger å ha bestemte terapeutiske mål.<br><br> En besøkshund må være mentalt sterk. Den skal kunne kunne jobbe i ulike og tidvis utfordrende miljøer. Den skal kunne tåle plutselige og høye lyder, ulike lukter, varierende kroppsspråk, ukjente stemmer, og så videre. Toby og Mie, hundene hos Bergen Terapihund, er i aller høyeste grad rustet for denne oppgaven.<br> Besøkshunder kan videreutdannes til terapihunder.</p>
            </div>
            <div class="col-4">
                <image class="w-75 rounded-3" src="./images/mie.eldrehjem.jpg" alt="MieEldrehjem"></image>
            </div>            
        </div>
    </div>  
</body>
</html>