#navbar, #navbartext, #navbarDropdown, #navbardropdown{
    font-family:  "Garamond", serif;
    background-color: #daedf1;
}

#navbartext, #navbarDropdown{
    color: #8897AA;
}

#navbar, #navbartext, #navbarDropdown{
    font-size: 120%;
}